body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-image: url(./im/[Downloader.la]-61b3d77d74ff1.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}
header{
    overflow: hidden;
    height: 100vh;
}
.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.nav-area{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    position: absolute;
    max-height: 60px;
}

#menu-area{
    list-style: none;
    z-index: 2000;
   
}
#menu-area li{

padding: 15px;
}
#menu-area li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 8px;
    
}
#menu-area li a:hover{
    color: rgb(5, 149, 168);;
    background-color: white;
    width: 150px;
    text-transform: uppercase;
}
.banner-text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner-text h2{
    color:rgb(255, 255, 255);
    font-size: 55px;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 15px black;
}
.banner-text p{
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
#h{background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;

}
#h:hover{
    background-color: rgba(0, 0, 0, 0.76);
    cursor: pointer;
    color: white;
}
#h h5{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#newyork{
    background-image: url(./im/newy.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
#prop{
    font-size: 15px;
    color: rgba(128, 128, 128, 0.829);
    text-align: center;
}
#place{
    color:rgb(0, 0, 0);
    font-size:xx-large;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
#cardbody{
    background-color: rgb(5, 149, 168);
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#cardd h5:hover{
    font-size: 30pt;
}
#cardd:hover{
    filter:brightness(80%);
}
#cardd #cardbody input:hover{
   width: 100px;
}
#x:hover{
    filter: brightness(80%);
}
#foot p{
    width: 75%;

}
@media screen and (max-width: 400px) {
    .banner-text p,#btn{
      display: none;
    }
    #ca{
        width: 320px;
    }
   .banner-text{
       top: 97%;
   }
   #im{
       height: 830px;
   }
  }
